.Button {
  background-color: black;
  color: white;
  padding: 15px 40px;
  width: fit-content;
  outline: none;
  font-size: 1.1em;
  border: none;
  font-weight: 800;
  align-self: center;
  margin: 41px;
  letter-spacing: 3px;
  cursor: pointer;
  z-index: 500px;
  border-radius: 10px;
}

.Button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.Button:active {
  transform: translateY(0%)
}