.SearchDiv {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  border-bottom: 1px solid #eaeaec;
  box-sizing: border-box
}

.search {
  width: 30%;
}
.Products{
  display: flex;
  padding:50px 50px;
}
.Filters{
   padding-right:50px;
   border-right: 1px solid #eaeaec;
}