.ChooseGender {
  color: black;

}

.NewIn {
  font-family: 'Arizonia', cursive;
  font-size: 120px;
  font-weight: 400;
}

.Offer {
  background-color: #e0e1fe;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  flex: 1;
}

.Offer {
  text-align: center;
}

.men {
  flex: 1;
  position: relative;
}

.men img {
  z-index: 100px;
}

.buttonStyle {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}


.women {
  flex: 1;
  position: relative;
}

.styles {
  letter-spacing: 15px;
  margin: 20px;
  background-color: white;
  text-align: center;
}

.Price {
  text-align: center;
  margin: 20px;
  letter-spacing: 5px;
  font-weight: 600
}

.Price p {
  margin: 10px;
}

.ChooseGender {
  display: flex;
}


@media (max-width:1000px) {
  .ChooseGender {
    flex-direction: column;
  }

  .Offer {
    padding: 0
  }
}