.SortByText{
  display: flex;
  width: 255px;
  justify-content: space-between;
  padding:10px 14px;
  border:solid 1px #d4d5d9 ;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}
.SortByText:hover{
  border-bottom: none !important;
}
.types{
  position: absolute;
  width:255px;
  border-right: solid 1px #d4d5d9;
  border-left: solid 1px #d4d5d9;  
  border-bottom: solid 1px #d4d5d9;
  cursor: pointer;
  font-size: 14px;
  z-index:500px;
}


.types p:hover{
  background-color: #f4f4f5;
}
.types p{
  padding:10px 20px;
}
@media (max-width:650px){
  .SortByText{
    margin-left:40px;
  }
}