.payment{
  width:30%
}
.MyCart {
  width: 100%;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbfbfb;
  flex-direction: column;
  line-height: 50px;
  font-size: 1em;
  flex-direction: column;
}

.MyCart button {
  padding: 0px 10px;
  color: #f1517b;
  outline: none;
  background: #fbfbfb;
  border: 1px solid #f1517b;
  font-weight: 800;
  cursor: pointer;
}

.MyCart h2 {
  margin: 0;
}

.cart {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  font-size: 0.8em;
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  border-right: 1px dotted black;
  padding-right: 50px;
  align-self: flex-start;

}

.offers {
  border-left: 2px solid #03a685 !important;
  border-right: 2px solid #03a685 !important;
  padding: 10px 12px;
  border: 1px dotted black;
  width: 100%;
  margin: 10px 0px;
}

.delivery {
  display: flex;
  padding: 10px 12px;
  border: 1px dotted black;
  width: 100%;
  border-left: 2px solid #03a685 !important;
  border-right: 2px solid #03a685 !important;
  margin: 10px 0px;
}

.total {
  display: flex;
  justify-content: space-between;

  margin: 10px 0px;
}

.eachItem {
  width: 100%;
  display: flex;
  border: 1px dotted black;
  /* margin: 10px; */
  margin: 10px 0px;
  /* padding: 10px; */
  box-sizing: border-box;
  border-left: 2px solid #03a685 !important;
  border-right: 2px solid #03a685 !important;
  font-size: 1.1em;
  padding-right: 10px;
}

.eachItem select {
  padding: 5px 15px;
  background: transparent;
  margin-left: 5px;
  font-size: 1em
}

.eachItem img {
  width: 20%;
  margin-right: 30px;
}

.items {
  display: flex;
  flex-direction: column;
}

.description {
  line-height: 33px;
}

.RemoveAndMove {
  width: 100%;
  display: flex;
}

.RemoveAndMove button {
  width: 100%;
  height:100%;
  background: #ffffff;
  border: 3px solid #fee4c4;
  padding: 6px;
  font-size: 1.1em;
  font-weight: 600;
  margin-right: 8px;
  cursor: pointer;
  outline:none;
}

.payment {
  align-self: flex-start;
  margin-left: 50px;
  padding-bottom:50px;
}

.coupons {
  display: flex;
  justify-content: space-between;
}

.coupons button {
  padding: 0px 12px;
  background-color: transparent;
  color: rgb(82, 108, 208);
  border: 1px solid rgb(82, 108, 208);
  outline: none;
  font-weight: 700;
  cursor: pointer;
}
.priceDetails{
border-top:1px dotted black;
padding-top:10px;
}
.price {
  display: flex;
  line-height: 46px;
  justify-content: space-between;
  border-bottom: 1px dotted black;
}

.totalAmount {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-size: 1.2em;
  margin: 10px 10px;
}

.cartButton{
  width: 100%;
  display: flex;
  justify-content: center;
}
.placeOrder {
  width: 80%;
  color: white;
  background-color: #f5a8c4;
  font-weight: 800;
  font-size: 1.3em;
  border: none;
  cursor: pointer;
  box-shadow: black 2px 1px 5px 2px;
  padding:5px;
  outline: none;
}
.placeOrder:hover{
  transform: translateY(-2px)
}
.placeOrder:active{
  transform: translateY(0px)
}

@media (max-width:750px){
  .cart{
    flex-direction: column;
  }
  .payment{
    width:100%;
    margin-left:0px;
    margin-top:20px;
  }
  .order{
    padding:0
  }
  .RemoveAndMove{
    font-size: 0.8em
  }
  .eachItem{
    padding:0;
    margin:0;
  }
  .eachItem img{
    width:25%;
    margin-right: 15px;
  }
  .quantity{
    display: block;
  }
}