.SearchField {
  width: 34%;
  display: flex;
  border-radius: 10px;
  background: #F5F5F6;

}

.search {
  width: 90%;
  padding: 5px 10px;
  line-height: 24px;
  color: #696E79;
  border: none;
  outline: none;
  border-radius: 10px;
  background: #F5F5F6;

}

.searchIcon {
  width: 10%;
  padding: 10px 10px;
  position: relative;
  left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (max-width:750px) {
  .SearchField {
    width: 100%;
  }
}